.waveuiButton {
  border-radius: var(--waveui-size_control--border-radius);
  padding-left: var(--waveui-size_control--padding-side);
  padding-right: var(--waveui-size_control--padding-side);
  min-height: var(--waveui-size_control--height);
  line-height: var(--waveui-size_control--line-height);
  align-items: center;
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: none;
  transition: min-height .2s ease-out;
  width: fit-content;

  &_primary#{&}_tone-accent {
    color: var(--waveui--color--foreground);
    background-color: var(--waveui-color_background--accent);
  }

  &_primary#{&}_tone-success {
    color: var(--waveui--color--foreground);
    background-color: var(--waveui-color_background--success);
  }

  &_primary#{&}_tone-danger {
    color: var(--waveui--color--foreground);
    background-color: var(--waveui-color_background--danger);
  }

  &_secondary#{&}_tone-accent {
    color: var(--waveui--color--foreground);
    background-color: var(--waveui-color_background--default);
  }

  &_secondary#{&}_tone-success {
    color: var(--waveui-color_background--success);
    background-color: var(--waveui-color_background--default);
  }

  &_secondary#{&}_tone-danger {
    color: var(--waveui-color_background--danger);
    background-color: var(--waveui-color_background--default);
  }

  &_outline#{&}_tone-accent {
    color: var(--waveui-color_background--accent);
    box-shadow: inset 0 0 0 var(--waveui-size_control--border-width--outline) var(--waveui-color_background--accent);
    background-color: var(--waveui-color_background--content);
  }

  &_outline#{&}_tone-success {
    color: var(--waveui-color_background--success);
    box-shadow: inset 0 0 0 var(--waveui-size_control--border-width--outline) var(--waveui-color_background--success);
    background-color: var(--waveui-color_background--content);
  }

  &_outline#{&}_tone-danger {
    color: var(--waveui-color_background--danger);
    box-shadow: inset 0 0 0 var(--waveui-size_control--border-width--outline) var(--waveui-color_background--danger);
    background-color: var(--waveui-color_background--content);
  }

  &_stretched {
    display: block;
    width: 100%;
    flex-grow: 1;
  }

  &__content {
    font-family: var(--waveui-font_control--font-family);
    font-style: var(--waveui-font_control--font-style);
    font-weight: var(--waveui-font_control--font-weight);
    font-size: var(--waveui-font_control--font-size);
    text-align: center;
    transition: font-size .2s ease-out;
  }

  &_small {
    min-height: var(--waveui-size_control--height--sm);
  }

  &_small &__content {
    font-size: var(--waveui-font_control--font-size--sm);
  }

  &_large {
    min-height: var(--waveui-size_control--height--lg);
  }

  &_large &__content {
    font-size: var(--waveui-font_control--font-size--lg);
  }

  &__shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    border-radius: inherit;
    transition: background-color .1s ease-out;
  }

  &_hover > &__shadow {
    background-color: var(--waveui-color_background--hover);
  }

  &_pressed > &__shadow {
    background-color: var(--waveui-color_background--pressed);
  }
}