.waveuiMenu {
  position: absolute;
  z-index: 10;

  &:not(#{&}_opened) {
    display: none;
  }

  &_hidden {
    visibility: hidden;
    pointer-events: none;
  }

  &__owner {
    position: relative;
  }

  &__items {
    max-height: 250px;
    border-radius: var(--waveui-size_menu--border-radius);
    background-color: var(--waveui--color--accent--background);
    box-shadow: 0 0 0 1px var(--waveui--color--border--secondary);

    & > :first-child {
      border-radius: var(--waveui-size_menu--border-radius) var(--waveui-size_menu--border-radius) 0 0;
    }

    & > :last-child {
      border-radius: 0 0 var(--waveui-size_menu--border-radius) var(--waveui-size_menu--border-radius);
    }

    &_scrollable {
      overflow-y: scroll;
    }
  }

  &__wrapper {
    position: fixed;
  }

  &__inner {
    position: relative;
    min-width: 175px;
    width: fit-content;
  }
}
