.waveuiMenu {
  border-radius: var(--waveui-size_menu--border-radius);
  background-color: var(--waveui--color--accent--background);
  box-shadow: 0 0 0 1px var(--waveui--color--border--secondary);
  position: relative;
  width: 200px;

  & > :first-child {
    border-radius: var(--waveui-size_menu--border-radius) var(--waveui-size_menu--border-radius) 0 0;
  }

  & > :last-child {
    border-radius: 0 0 var(--waveui-size_menu--border-radius) var(--waveui-size_menu--border-radius);
  }

  &::before {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: var(--waveui--color--border--secondary);
    top: -16px;
    right: 17px;
    left: auto;
  }
  &::after {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-bottom-color: var(--waveui--color--accent--background);
    top: -14px;
    right: 18px;
    left: auto;
  }
}
