.waveuiDivider {
  border: none;
  height: var(--waveui-size_divider);
  box-shadow: inset 0 0 0 var(--waveui-size_divider) var(--waveui--color--divider);
  display: block;
  width: 100%;
  flex-grow: 1;
  margin: 0;
}